# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @loopback4-admins will be requested for
# review when someone opens a pull request.
*       @sourcefuse/loopback4-admins
