# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @loopback4-admins will be requested for
# review when someone opens a pull request.
*       @sourcefuse/loopback4-admins

# In this example, owner owns any files in the packages/cache
# directory at the root of the repository and any of its
# subdirectories.
/packages/cache samarpan.bhattacharya@sourcefuse.com

# In this example, owner owns any files in the services/audit-service
# directory at the root of the repository and any of its
# subdirectories.
/services/audit-service @sourcefuse/loopback4-admins

# In this example, owner owns any files in the services/authentication-service
# directory at the root of the repository and any of its
# subdirectories.
/services/authentication-service @sourcefuse/loopback4-admins yesha.mavani@sourcefuse.com surbhi.sharma1@sourcefuse.com

# In this example, owner owns any files in the services/chat-service
# directory at the root of the repository and any of its
# subdirectories.
/services/chat-service @sourcefuse/loopback4-admins surbhi.sharma1@sourcefuse.com rashi.sharma@sourcefuse.com

# In this example, owner owns any files in the services/in-mail-service
# directory at the root of the repository and any of its
# subdirectories.
/services/in-mail-service @sourcefuse/loopback4-admins @shivamSF

# In this example, owner owns any files in the services/oidc-service
# directory at the root of the repository and any of its
# subdirectories.
/services/oidc-service @sourcefuse/loopback4-admins @antriksha102

# In this example, owner owns any files in the services/search-service
# directory at the root of the repository and any of its
# subdirectories.
/services/search-service @sourcefuse/loopback4-admins @akshatdubeysf

# In this example, owner owns any files in the services/survey-service
# directory at the root of the repository and any of its
# subdirectories.
/services/survey-service @sourcefuse/loopback4-admins swati.prashar@sourcefuse.com

# In this example, owner owns any files in the services/feature-toggle-service
# directory at the root of the repository and any of its
# subdirectories.
/services/feature-toggle-service @sourcefuse/loopback4-admins yesha.mavani@sourcefuse.com