# General
node_modules
.idea
.env
lerna-debug.log
**/*.bak
**/.DS_Store
.nyc_output
dist

# Docs
## Site folder contains compiled html files, we don't need them because mkdocs-deploy can freshly recreate them
/site

## Below paths are typedoc owned (they contain typedoc markdown files)
/docs/packages/
/docs/services/

## Compiled export script
export-typedocs.js