@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.ttf?n7v7vk') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow_down:before {
  content: '\eb79';
}
.Search:before {
  content: '\eae0';
}
.close:before {
  content: '\e926';
}
