/* HeroDetailComponent's private CSS styles */
@import '../../variables.scss';
label {
  color: $color-dark;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}
button {
  margin-top: 20px;
  margin-right: 0.5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: $color-light;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
