/* AppComponent's private CSS styles */
@import '../variables.scss';
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: $color-dark;
  border-radius: 4px;
}
nav a:hover {
  color: white;
  background-color: $color-light;
}
nav a.active {
  background-color: black;
}
