$primary-color: #323338;
$white: #fff;
$hover-color: rgb(240, 239, 239);
$grey: grey;
$black: #000;
$green: green;
$grey1: #9e9a9a;
$red: #8c0000;
$grey2: #dcdfec;
$placeholder-color: rgb(195, 198, 212);
