<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>Login</h3>

  <label for="username">Username</label>
  <input
    type="text"
    placeholder="Username/Email"
    id="username"
    formControlName="username"
  />

  <label for="password">Password</label>
  <input
    type="password"
    placeholder="Password"
    id="password"
    formControlName="password"
  />
  <button><span>Continue ></span></button>
  <p>or Login with</p>
  <div class="social">
    <div (click)="loginViaAzure()" class="az">
      <img src="/assets/azure.png" alt="Azure" />
    </div>
    <div (click)="loginViaGoogle()" class="go">
      <img src="/assets/google.png" alt="Google" />
    </div>
    <div (click)="loginViaFacebook()" class="fb">
      <img src="/assets/facebook.png" alt="Facebook" />
    </div>
  </div>
</form>
